body {
    margin:0;
    padding: 0;
    background-color: #b7d7eb;
}

.navbar {
    margin:0;
    padding:0;
    background-color:;
}

a:link{
    color: #e8e3e6;
}

a:visited{
    color: #e8e3e6;
}


 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
} 

.carousel-inner2 > .item > img,
  .carousel-inner2 > .item > a > img {
      width: 70%;
      margin: auto;
} 


.nav ul {
    list-style:none;
    background-color:#74b5b0;
    color:  #efefef;
    text-align:center;
    padding:0;
    margin: 0;
    
}

h1{
    text-shadow: 1px 1px #efefef;
     text-align: center;
    font-family: 'Kalam',serif;
    font-size: 55px;
    
}


caption{
     text-align: center;
    align="bottom" ;
} 

h2{
    text-shadow: 1px 1px #efefef;
     text-align: center;
    font-family: Merriweather, serif;
    font-size: 40px;
}

h3{
  
     text-align: center;

}

img{
    max-height: 100%;
    max-width: 100%;
/*    margin: 50px 50px 50px 50px;*/
     padding: 10px;
    display: block;
    margin:auto;
}

p{
    text-align: center;
/*   background:rgba(255,255,255,0.5);*/
}

figcaption{ 
    text-align: center;
}

.footer {
  position: absolute;
  left: 0;
    right:0;
    height:40px;
    width:100%;
    overflow: hidden;
  background-color: #c2b5b1;
  text-align: center;
}


.nav li{
    font-family: sans-serif;
    line-height: 40px;
    height:40px;
    border-bottom: 1px solid #efefef;
        
}

submit{
    margin:50%;
}

container {
    
    padding: 10px; 
    
}

form{
    padding: 10px;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

.nav li{
    display: inline-block;
    margin-right: 4px;
}